In [1]:
# Importing Libraries
import selenium
import pandas as pd
import numpy as np
import time
from bs4 import BeautifulSoup
from selenium.webdriver.support.select import Select
import warnings
warnings.filterwarnings("ignore")


# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

1. Scrape the details of most viewed videos on YouTube from Wikipedia.

In [4]:
PATH = 'E:\DataTrained\chromedriver.exe' #extracting path of the webdriver
driver = webdriver.Chrome(PATH)

In [233]:
# Activating the chrome browser
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)
time.sleep(3)

In [252]:
#Scraping Rank Data from the table
RankT = driver.find_elements_by_xpath('//tbody/tr/td[1]')
len(RankT)
RankT[0:29]

Rank=[]
for i in RankT:
    Rank.append(i.text)
        
Rank[0:30]



#Scraping Name Data from the table
NameT = driver.find_elements_by_xpath('//tbody/tr/td[2]')
len(NameT)
NameT

Name=[]
for i in NameT:
    Name.append(i.text)
        
Name

#Scraping Artist Data from the table
ArtistT = driver.find_elements_by_xpath('//tbody/tr/td[3]')
len(ArtistT)
ArtistT

Artist=[]
for i in ArtistT:
    Artist.append(i.text)
        
Artist

#Scraping Views Data from the table
ViewsT = driver.find_elements_by_xpath('//tbody/tr/td[4]')
len(ViewsT)
ViewsT

views=[]
for i in ViewsT:
    views.append(i.text)
        
views

#Scraping Views Data from the table
UploadT = driver.find_elements_by_xpath('//tbody/tr/td[5]')
len(UploadT)
UploadT

uploads=[]
for i in UploadT:
    uploads.append(i.text)
        
uploads

print(len(Rank),len(Name),len(Artist),len(views),len(uploads))

67 52 49 49 49

In [253]:
DF=pd.DataFrame({})
DF['Ranking']=Rank[2:32]
DF['Name']=Name[2:32]
DF['Artist Name']=Artist[2:32]
DF['Views']=views[2:32]
DF['upload Data']=uploads[2:32]

DF

,Ranking,Name,Artist Name,Views,upload Data
0,1.,"""Baby Shark Dance""[3]",LooLoo Kids,6.31,"October 8, 2016"
1,2.,"""Despacito""[6]",Ed Sheeran,5.69,"January 30, 2017"
2,3.,"""Johny Johny Yes Papa""[12]",Wiz Khalifa,5.48,"April 6, 2015"
3,4.,"""Shape of You""[13]",Cocomelon – Nursery Rhymes,5.27,"May 2, 2018"
4,5.,"""See You Again""[15]",ChuChu TV,4.58,"March 6, 2014"
5,6.,"""Bath Song""[20]",Miroshka TV,4.56,"February 27, 2018"
6,7.,"""Phonics Song with Two Words""[21]",Mark Ronson,4.54,"November 19, 2014"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[22]",Get Movies,4.49,"January 31, 2012"
8,9.,"""Uptown Funk""[23]",Psy,4.40,"July 15, 2012"
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Cocomelon – Nursery Rhymes,3.96,"May 24, 2018"
10,11.,"""Gangnam Style""[25]",El Chombo,3.92,"April 5, 2018"
11,12.,"""Wheels on the Bus""[30]",Maroon 5,3.68,"January 14, 2015"
12,13.,"""Dame Tu Cosita""[31]",Katy Perry,3.56,"September 5, 2013"
13,14.,"""Sugar""[32]",OneRepublic,3.56,"May 31, 2013"
14,15.,"""Roar""[33]",Justin Bieber,3.54,"October 22, 2015"
15,16.,"""Counting Stars""[34]",Ed Sheeran,3.44,"October 7, 2014"
16,17.,"""Sorry""[35]",Crazy Frog,3.32,"June 16, 2009"
17,18.,"""Thinking Out Loud""[36]",Maroon 5,3.28,"May 31, 2018"
18,19.,"""Axel F""[37]",Alan Walker,3.27,"December 3, 2015"
19,20.,"""Girls Like You""[38]",Katy Perry,3.26,"February 20, 2014"
20,21.,"""Faded""[39]",Passenger,3.21,"July 25, 2012"
21,22.,"""Dark Horse""[40]",Cocomelon – Nursery Rhymes,3.21,"June 25, 2018"
22,23.,"""Let Her Go""[41]",Enrique Iglesias,3.19,"April 11, 2014"
23,24.,"""Baa Baa Black Sheep""[42]",Major Lazer,3.19,"March 22, 2015"
24,25.,"""Bailando""[43]",Taylor Swift,3.16,"August 18, 2014"
25,26.,"""Lean On""[44]",Ed Sheeran,3.14,"November 9, 2017"
26,27.,"""Shake It Off""[45]",Shakira,3.12,"June 4, 2010"
27,28.,"""Perfect""[46]",J Balvin,3.07,"June 29, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[47]","7,037,500,000","June 17, 2016","November 2, 2020"
29,30.,"""Mi Gente""[48]","2,993,700,000","January 12, 2017","August 4, 2017"

2. Scrape the details team India’s international fixtures from bcci.tv.
Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [256]:
# Activating the chrome browser
url = "https://www.bcci.tv/"
driver.get(url)
time.sleep(3)

# Asking the user to input the keywords he/she wants to search
#user_inp = input('Enter the product you want to search : ')

#Make empty lists
Matchtitle = []   
Series = []
Place = []
Date = []
Time = []

In [258]:
#scrape Matchtitle
MatchT = driver.find_elements_by_xpath('//span[@class="ng-binding"]')
len(MatchT)
MatchT

Matchtitle=[]
for i in MatchT:
    if i.text is '':
        Matchtitle.append("--") 
    else:
        Matchtitle.append(i.text)
        
Matchtitle

#scrape Series
Ser = driver.find_elements_by_xpath('//span[@class="ng-binding"]')
len(Ser)
Ser

Series=[]
for i in Ser:
    if i.text is '':
        Series.append(i.text) 
    else:
        Series.append(i.text)
        
Series


#scrape Place
Pl = driver.find_elements_by_xpath('//span[@class="ng-binding ng-scope"]')
len(Pl)
Pl

Place=[]
for i in Pl:
    if i.text is '':
        Place.append('----') 
    else:
        Place.append(i.text)
        
Place

# creating the dataframe from the scraped data and taking only first 10 data
df=pd.DataFrame({"Match Name":Matchtitle[0:10],"Series":Series[0:10],"Place":Place[0:10]
                })
df

,Match Name,Series,Place
0,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Arun Jaitley Stadium,"
1,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Barabati Stadium,"
2,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,"
3,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Saurashtra Cricket Association Stadium,"
4,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"M Chinnaswamy Stadium,"
5,--,,----
6,--,,----
7,--,,----
8,--,,----
9,--,,----

3. Scrape the details of selenium exception from guru99.com.
Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [3]:
# Activating the chrome browser
try:
    url = "https://www.guru99.com//"
    driver.get(url)
    time.sleep(3)
    
except NoSuchElementException :
    print("No Login page")

In [30]:
#scrape Place
name = driver.find_elements_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[1]/div/ul[1]')
name2 = driver.find_elements_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[2]/div/ul[1]')
name3 = driver.find_elements_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[3]/div/ul[1]')
name4 = driver.find_elements_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[2]/div[4]/div/ul[1]')
name5 = driver.find_elements_by_xpath('/html/body')



name
name2
name3                                     
name4
name5
                                      
CourseName=[]
for i in name:
    if i.text is '':
        CourseName.append('----') 
    else:
        CourseName.append(i.text)
        
CourseName

CourseName2=[]
for i in name2:
    if i.text is '':
        CourseName2.append('----') 
    else:
        CourseName2.append(i.text)
        
CourseName2
                                      

CourseName3=[]
for i in name3:
    if i.text is '':
        CourseName3.append('----') 
    else:
        CourseName3.append(i.text)
        

CourseName3
                                      
CourseName4=[]
for i in name4:
    if i.text is '':
        CourseName4.append('----') 
    else:
        CourseName4.append(i.text)
        
CourseName4

['➤ Web Development\n➤ Online Courses\n➤ Reviews\n➤ Excel Tutorials\n➤ Accounting\n➤ Ethical Hacking\n➤ Cloud Computing\n➤ Photoshop CC\n➤ Business Analyst\n➤ Informatica\n➤ Project Management\n➤ VBA\n➤ CCNA\n➤ Jenkins\n➤ Software Engineering\n➤ Blockchain\n➤ Cloud Mining Sites\n➤ Go Programming\n➤ Networking\n➤ Operating System\n➤ Compiler Design\n➤ COBOL\n➤ Embedded Systems\n➤ Algorithms\n➤ Salesforce\n➤ eCommerce Platforms\n➤ Website Monitoring Tools\n➤ IP Blocker Apps\n➤ Best VPNs\n➤ VPN for iPhone']

In [32]:

df= pd.DataFrame({'Course-Name': CourseName,'Course-Name2': CourseName2})
df

,Course-Name,Course-Name2
0,➤ Software Testing\n➤ QTP (Quick Test Professi...,➤ SAP Beginner\n➤ SAP ABAP\n➤ SAP HR/HCM\n➤ SA...

In [65]:
df['Course-Name'].str.split('\n', expand=True).stack().reset_index(level=0).set_index('level_0').rename(columns={0:'Course-Name'}).join(df.drop('Course-Name', axis=1))

,Course-Name,Course-Name2
0,➤ Software Testing,➤ SAP Beginner\n➤ SAP ABAP\n➤ SAP HR/HCM\n➤ SA...
0,➤ QTP (Quick Test Professional),➤ SAP Beginner\n➤ SAP ABAP\n➤ SAP HR/HCM\n➤ SA...
0,➤ Selenium,➤ SAP Beginner\n➤ SAP ABAP\n➤ SAP HR/HCM\n➤ SA...
0,➤ Mobile App Testing,➤ SAP Beginner\n➤ SAP ABAP\n➤ SAP HR/HCM\n➤ SA...
0,➤ Cucumber Testing,➤ SAP Beginner\n➤ SAP ABAP\n➤ SAP HR/HCM\n➤ SA...
0,➤ SoapUI,➤ SAP Beginner\n➤ SAP ABAP\n➤ SAP HR/HCM\n➤ SA...
0,➤ Agile Testing,➤ SAP Beginner\n➤ SAP ABAP\n➤ SAP HR/HCM\n➤ SA...
0,➤ JUnit,➤ SAP Beginner\n➤ SAP ABAP\n➤ SAP HR/HCM\n➤ SA...
0,➤ RPA,➤ SAP Beginner\n➤ SAP ABAP\n➤ SAP HR/HCM\n➤ SA...

In [83]:
df['Course-Name2'].str.split('\n', expand=True).stack().reset_index(level=0).set_index('level_0').rename(columns={0:'Course-Name2'}).join(df.drop('Course-Name2', axis=1))

        Course-Name2                                        Course-Name
0     ➤ SAP Beginner  ➤ Software Testing\n➤ QTP (Quick Test Professi...
0         ➤ SAP ABAP  ➤ Software Testing\n➤ QTP (Quick Test Professi...
0       ➤ SAP HR/HCM  ➤ Software Testing\n➤ QTP (Quick Test Professi...
0         ➤ SAP FICO  ➤ Software Testing\n➤ QTP (Quick Test Professi...
0        ➤ SAP Basis  ➤ Software Testing\n➤ QTP (Quick Test Professi...
0           ➤ SAP SD  ➤ Software Testing\n➤ QTP (Quick Test Professi...
0          ➤ SAP CRM  ➤ Software Testing\n➤ QTP (Quick Test Professi...
0           ➤ SAP MM  ➤ Software Testing\n➤ QTP (Quick Test Professi...
0           ➤ SAP CO  ➤ Software Testing\n➤ QTP (Quick Test Professi...
0      ➤ SAP Payroll  ➤ Software Testing\n➤ QTP (Quick Test Professi...
0        ➤ SAP BI/BW  ➤ Software Testing\n➤ QTP (Quick Test Professi...
0           ➤ SAP PP  ➤ Software Testing\n➤ QTP (Quick Test Professi...
0           ➤ SAP QM  ➤ Software Testing\n➤ QTP (Quick Test Professi...
0         ➤ SAP HANA  ➤ Software Testing\n➤ QTP (Quick Test Professi...
0  ➤ Crystal Reports  ➤ Software Testing\n➤ QTP (Quick Test Professi...
0        ➤ SAP PI/PO  ➤ Software Testing\n➤ QTP (Quick Test Professi...
0           ➤ SAPUI5  ➤ Software Testing\n➤ QTP (Quick Test Professi...
0     ➤ SAP Security  ➤ Software Testing\n➤ QTP (Quick Test Professi...
0          ➤ SAP BPC  ➤ Software Testing\n➤ QTP (Quick Test Professi...
0         ➤ SAP BODS  ➤ Software Testing\n➤ QTP (Quick Test Professi...

4. Scrape the details of State-wise GDP of India from statisticstime.com.
Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)
D) GSDP(17-18)
E) Share(2017)
F) GDP($ billion)
Note: - From statisticstimes home page you have to reach to economy page through code

In [2]:
# Activating the chrome browser
try:
    url = "https://www.statisticstimes.com/economy/india/indian-states-gdp-growth.php"
    driver.get(url)
    time.sleep(3)
    
except NoSuchElementException :
    print("No Login page")

NameError: name 'NoSuchElementException' is not defined

In [126]:
India_search=driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
India_search

In [290]:
#Scraping Rank Data from the table
RankGSDB = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[1]')
len(RankGSDB)
RankGSDB

Rank=[]
for i in RankGSDB:
    Rank.append(i.text)
        
Rank[0:30]

#Scraping State Data from the table
StateGSDB = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[2]')
len(StateGSDB)
StateGSDB

State=[]
for i in StateGSDB:
    State.append(i.text)
        
State[0:30]


#Scraping GSDB18-19 Data from the table
GSDB18_19 = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[4]')
len(GSDB18_19)
GSDB18_19

G1819=[]
for i in GSDB18_19:
    G1819.append(i.text)
        
G1819[0:30]

#Scraping GSDB17-18 Data from the table
GSDB17_18 = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[4]')
len(GSDB17_18)
GSDB17_18

G1718=[]
for i in GSDB17_18:
    G1718.append(i.text)
        
G1718[0:30]

#Scraping Share17 Data from the table
Share17 = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[5]')
len(Share17)
Share17

share=[]
for i in Share17:
    share.append(i.text)
        
share[0:30]

#Scraping Average current price and its dollar rate Data from the table
Average = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[6]')
len(Average)
Average

Avg=[]
for i in Averagee17:
    Avg.append(i.text)
        
Avg[0:30]



/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr[4]/td[6]

['12.56',
 '9.94',
 '9.83',
 '8.79',
 '8.64',
 '8.04',
 '7.96',
 '7.72',
 '7.66',
 '7.54',
 '7.50',
 '7.36',
 '7.34',
 '7.32',
 '7.14',
 '7.12',
 '6.88',
 '6.54',
 '6.51',
 '6.34',
 '6.18',
 '6.17',
 '6.04',
 '5.96',
 '5.88',
 '5.61',
 '5.51',
 '5.48',
 '5.46',
 '5.16']

In [298]:
#Scraping Average current price and its dollar rate Data from the table
Average = driver.find_elements_by_xpath('/html/body/div[3]/div[2]/div[5]/div[1]/div/table/tbody/tr/td[6]')
len(Average)
Average

Avg=[]
AvgDollar = []
for i in Average:
    Avg.append(i.text)
        

Avg

['18.91',
 '12.32',
 '-',
 '9.30',
 '13.27',
 '10.48',
 '12.61',
 '13.13',
 '-',
 '-',
 '11.99',
 '12.73',
 '-',
 '6.86',
 '7.56',
 '13.23',
 '-',
 '8.32',
 '6.50',
 '-',
 '15.36',
 '-',
 '10.56',
 '14.07',
 '9.19',
 '8.26',
 '-',
 '9.95',
 '-',
 '15.04',
 '11.09',
 '9.23',
 '-']

In [305]:

# Creating a dataframe
df=pd.DataFrame({})
df['Rank']=Rank[0:30]
df['State']=State[0:30]
df['GSDP(18-19)']=G1819[0:30]
df['GSDP(17-18)']=G1718[0:30]
df['Share(2017)']=share[0:30]
df['GDP($ billion)']=Avg[0:30]




df

   Rank              State GSDP(18-19) GSDP(17-18) Share(2017) GDP($ billion)
0     1            Mizoram       11.63       11.63       12.56          18.91
1     2            Tripura       11.69       11.69        9.94          12.32
2     3            Gujarat        9.19        9.19        9.83              -
3     4          Karnataka        6.67        6.67        8.79           9.30
4     5            Haryana        7.49        7.49        8.64          13.27
5     6              Delhi        7.71        7.71        8.04          10.48
6     7          Telangana        9.53        9.53        7.96          12.61
7     8             Sikkim        5.94        5.94        7.72          13.13
8     9        Uttarakhand        6.87        6.87        7.66              -
9    10         Chandigarh        7.39        7.39        7.54              -
10   11     Madhya Pradesh        5.77        5.77        7.50          11.99
11   12     Andhra Pradesh        4.45        4.45        7.36          12.73
12   13              Assam        6.42        6.42        7.34              -
13   14             Odisha        4.23        4.23        7.32           6.86
14   15   Himachal Pradesh        7.10        7.10        7.14           7.56
15   16         Tamil Nadu        7.95        7.95        7.12          13.23
16   17        Maharashtra        5.99        5.99        6.88              -
17   18          Rajasthan        6.97        6.97        6.54           8.32
18   19      Uttar Pradesh        6.26        6.26        6.51           6.50
19   20             Kerala        7.46        7.46        6.34              -
20   21              Bihar        9.27        9.27        6.18          15.36
21   22  Arunachal Pradesh        4.59        4.59        6.17              -
22   23          Jharkhand        6.84        6.84        6.04          10.56
23   24            Manipur        2.93        2.93        5.96          14.07
24   25             Punjab        5.98        5.98        5.88           9.19
25   26       Chhattisgarh        7.06        7.06        5.61           8.26
26   27    Jammu & Kashmir        6.08        6.08        5.51              -
27   28                Goa        9.75        9.75        5.48           9.95
28   29           Nagaland        7.05        7.05        5.46              -
29   30        West Bengal        6.41        6.41        5.16          15.04

5. Scrape the details of trending repositories on Github.com.
Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used
ASSIGNMENT
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [2]:
# Activating the chrome browser

PATH = 'E:\DataTrained\chromedriver.exe' #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
try:
    url = "https://github.com/trending"
    driver.get(url)
    time.sleep(3)
    
except NoSuchElementException :
    print("No Login page")

In [21]:
# Scraping Repository Names
RepName = driver.find_elements_by_xpath('/html/body/div[4]/main/div[3]/div/div[2]/article/h1')
len(RepName)

RName=[]
for i in RepName:
    RName.append(i.text)
        
RName[0:24]

# Scraping Repository description
RepDisc = driver.find_elements_by_xpath('/html/body/div[4]/main/div[3]/div/div[2]/article/p')
len(RepDisc)

RDisc=[]
for i in RepDisc:
    RDisc.append(i.text)
        
RDisc[0:24]

['This repository provides motion datasets collected by Bandai Namco Research Inc',
 'The core software distribution for the Inform 7 programming language.',
 'Open Source real-time strategy game engine for early Westwood games such as Command & Conquer: Red Alert written in C# using SDL and OpenGL. Runs on Windows, Linux, *BSD and Mac OS X.',
 'PowerShell for every system!',
 '模拟手写效果，节约时间。',
 '🏆 A ranked list of awesome machine learning Python libraries. Updated weekly.',
 'Spacedrive is an open source cross-platform file explorer, powered by a virtual distributed filesystem written in Rust.',
 'A rule-based tunnel in Go.',
 'RisingWave: the next-generation streaming database in the cloud.',
 'JSON Hero is an open-source, beautiful JSON explorer for the web that lets you browse, search and navigate your JSON files at speed. 🚀',
 'Papers from the computer science community to read and discuss.',
 'Translate your TypeScript errors into plain English',
 '🐢 Magical shell history',
 'The Optimism monorepo',
 'Make stream processing easier! Flink & Spark development scaffold, The original intention of StreamX is to make the development of Flink easier. StreamX focuses on the management of development phases and tasks. Our ultimate goal is to build a one-stop big data solution integrating stream processing, batch processing, data warehouse and data laker.',
 'Main repository for the Core WCF project',
 '收集整理 GitHub 上高质量、有趣的开源项目。',
 'Pilot – mini game engine for games104',
 '分享 GitHub 上有趣、入门级的开源项目。Share interesting, entry-level open source projects on GitHub.',
 'Apache Flink',
 'Optimized Go Compression Packages',
 'KEDA is a Kubernetes-based Event Driven Autoscaling component. It provides event driven scale for any container running in Kubernetes',
 'Top2Vec learns jointly embedded topic, document and word vectors.',
 'Wireit upgrades your npm scripts to make them smarter and more efficient.']

In [53]:
# Scraping Repository description
RepDisc = driver.find_elements_by_xpath('/html/body/div[4]/main/div[3]/div/div[2]/article/p')
len(RepDisc)

RDisc=[]
for i in RepDisc:
    RDisc.append(i.text)
        
RDisc[0:24]

['PowerShell for every system!',
 '科技爱好者周刊，每周五发布',
 'The modern web developer’s platform',
 'Your self-hosted, globally interconnected microblogging community',
 'Spacedrive is an open source cross-platform file explorer, powered by a virtual distributed filesystem written in Rust.',
 '🏆 A ranked list of awesome machine learning Python libraries. Updated weekly.',
 'JSON Hero is an open-source, beautiful JSON explorer for the web that lets you browse, search and navigate your JSON files at speed. 🚀',
 'Create UIs for your machine learning model in Python in 3 minutes',
 'Low code project to build admin panels, internal tools, and dashboards. Integrates with 15+ databases and any API.',
 'Wireit upgrades your npm scripts to make them smarter and more efficient.',
 'FE 기술 소식 큐레이션 뉴스레터',
 '润学全球官方指定GITHUB，整理润学宗旨、纲领、理论和各类润之实例；解决为什么润，润去哪里，怎么润三大问题； 并成为新中国人的核心宗教，核心信念。',
 'A multi-voice TTS system trained with an emphasis on quality',
 'RF transmitter for Raspberry Pi',
 'Constraint-based geometry sketcher for blender',
 '模拟手写效果，节约时间。',
 'HFS is a file server offering a virtual file system (vfs). You can easily share a single file instead of the whole folder, or you can rename it, but without touching the real file, just virtually.',
 'Complete container management platform',
 'A complete computer science study plan to become a software engineer.',
 'A drop-in javascript spreadsheet library that provides rich features like Excel and Google Sheets',
 'RedisInsight',
 'Terraform module to create an Elastic Kubernetes (EKS) cluster and associated worker instances on AWS 🇺🇦',
 'A list of FREE resources to make Web3 accessible to everyone.',
 'KrbRelayUp - a universal no-fix local privilege escalation in windows domain environments where LDAP signing is not enforced (the default settings).']

In [16]:
# Scraping Repository Contributor Count
RepCCount = driver.find_elements_by_xpath('/html/body/div[4]/main/div[3]/div/div[2]/article/div[2]/a[2]')
len(RepCCount)

RepC=[]
for i in RepCCount:
    RepC.append(i.text)
        
RepC[0:24]

['170',
 '48',
 '30',
 '2,394',
 '5,493',
 '50',
 '1,293',
 '135',
 '3,766',
 '108',
 '50',
 '4,694',
 '16',
 '84',
 '330',
 '380',
 '191',
 '434',
 '758',
 '7,816',
 '10,654',
 '208',
 '541',
 '271']

In [12]:
# Scraping Repository Language
RepLanguage = driver.find_elements_by_xpath('/html/body/div[4]/main/div[3]/div/div[2]/article/div[2]/span[1]')
len(RepLanguage)

RepL=[]
for i in RepLanguage:
    RepL.append(i.text)
        
RepL[0:24]

['Python',
 'TypeScript',
 'C',
 'C#',
 'C#',
 'Python',
 'Python',
 'TypeScript',
 'Go',
 'Rust',
 'TypeScript',
 'Shell',
 'TypeScript',
 'Rust',
 'Go',
 'Scala',
 'C#',
 'Built by',
 'C++',
 'Python',
 'Java',
 'Go',
 'Go',
 'Python']

In [24]:
df= pd.DataFrame({})
df["Repository Name"] = RName[0:24]
df["Repository Discription"] = RDisc[0:24]
df["Repository Counter Count"] = RepC[0:24]
df["Repository Language"] = RepL[0:24]
df

,Repository Name,Repository Discription,Repository Counter Count,Repository Language
0,BandaiNamcoResearchInc / Bandai-Namco-Research...,This repository provides motion datasets colle...,170,Python
1,Tencent / tmagic-editor,The core software distribution for the Inform ...,48,TypeScript
2,ganelson / inform,Open Source real-time strategy game engine for...,30,C
3,OpenRA / OpenRA,PowerShell for every system!,"2,394",C#
4,PowerShell / PowerShell,模拟手写效果，节约时间。,"5,493",C#
5,why20021008 / hand-write,🏆 A ranked list of awesome machine learning Py...,50,Python
6,ml-tooling / best-of-ml-python,Spacedrive is an open source cross-platform fi...,"1,293",Python
7,spacedriveapp / spacedrive,A rule-based tunnel in Go.,135,TypeScript
8,Dreamacro / clash,RisingWave: the next-generation streaming data...,"3,766",Go
9,singularity-data / risingwave,"JSON Hero is an open-source, beautiful JSON ex...",108,Rust
10,jsonhero-io / jsonhero-web,Papers from the computer science community to ...,50,TypeScript
11,papers-we-love / papers-we-love,Translate your TypeScript errors into plain En...,"4,694",Shell
12,mattpocock / ts-error-translator,🐢 Magical shell history,16,TypeScript
13,ellie / atuin,The Optimism monorepo,84,Rust
14,ethereum-optimism / optimism,Make stream processing easier! Flink & Spark d...,330,Go
15,streamxhub / streamx,Main repository for the Core WCF project,380,Scala
16,CoreWCF / CoreWCF,收集整理 GitHub 上高质量、有趣的开源项目。,191,C#
17,Wechat-ggGitHub / Awesome-GitHub-Repo,Pilot – mini game engine for games104,434,Built by
18,BoomingTech / Pilot,"分享 GitHub 上有趣、入门级的开源项目。Share interesting, entr...",758,C++
19,521xueweihan / HelloGitHub,Apache Flink,"7,816",Python
20,apache / flink,Optimized Go Compression Packages,"10,654",Java
21,klauspost / compress,KEDA is a Kubernetes-based Event Driven Autosc...,208,Go
22,kedacore / keda,"Top2Vec learns jointly embedded topic, documen...",541,Go
23,ddangelov / Top2Vec,Wireit upgrades your npm scripts to make them ...,271,Python

6. Scrape the details of top 100 songs on billiboard.com.
Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [25]:
# Activating the chrome browser

PATH = 'E:\DataTrained\chromedriver.exe' #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
try:
    url = "https:/www.billboard.com/"
    driver.get(url)
    time.sleep(3)
    
except NoSuchElementException :
    print("No Login page")

In [30]:
# Scraping Song Name
SongName = driver.find_elements_by_xpath('/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li/ul/li/h3')
len(SongName)

SongN=[]
for i in SongName:
    SongN.append(i.text)
        
SongN[0:99]

['As It Was',
 'First Class',
 'Heat Waves',
 'Big Energy',
 'Enemy',
 'Stay',
 "Don't Think Jesus",
 'Woman',
 'Super Gremlin',
 'Ghost',
 'Thats What I Want',
 'Bad Habits',
 'abcdefu',
 'Shivers',
 'Cold Heart (PNAU Remix)',
 'Easy On Me',
 'Need To Know',
 'Save Your Tears',
 'One Right Now',
 'In A Minute',
 'Levitating',
 "'Til You Can't",
 'Industry Baby',
 'MAMIII',
 'Bam Bam',
 'Hrs And Hrs',
 "We Don't Talk About Bruno",
 'Right On',
 'Never Say Never',
 "Doin' This",
 'Wasted On You',
 'AA',
 'Good 4 U',
 'Sweetest Pie',
 'Fingers Crossed',
 'I Hate U',
 'Boyfriend',
 'To The Moon!',
 'You Right',
 'Numb Little Bug',
 'Fancy Like',
 'Sand In My Boots',
 'What Happened To Virgil',
 'Pushin P',
 'Beers On Me',
 'The Motto',
 "She's All I Wanna Be",
 "When You're Gone",
 'Buy Dirt',
 'About Damn Time',
 'Shake It',
 'Light Switch',
 'If I Was A Cowboy',
 'Peru',
 'Flowers',
 'Nail Tech',
 'Freaky Deaky',
 '23',
 'Trouble With A Heartbreak',
 'Broadway Girls',
 'Heart On Fire',
 'No Love',
 'Surface Pressure',
 'Slow Down Summer',
 'Flower Shops',
 'Never Wanted To Be That Girl',
 'Me Or Sum',
 'Ahhh Ha',
 'Give Heaven Some Hell',
 'Handsomer',
 'Envolver',
 'Do We Have A Problem?',
 'Get Into It (Yuh)',
 'Rumors',
 'Take My Name',
 'Damn Strait',
 'Circles Around This Town',
 'In My Head',
 'Nobody Like U',
 'Soy El Unico',
 'I Love You So',
 'Come Back As A Country Boy',
 'GINE',
 'City Of Gods',
 'Complete Mess',
 'Leave You Alone',
 'Bones',
 'Banking On Me',
 'She Likes It',
 'Pressure',
 'Desesperados',
 'Over',
 'The Family Madrigal',
 'Hate Our Love',
 'Dos Oruguitas',
 'P Power',
 'Money So Big',
 'Blick Blick!',
 'Fall In Love']

In [31]:
# Scraping Artist Name
ArtistName = driver.find_elements_by_xpath('/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[1]/span')
len(ArtistName)

ArtistN=[]
for i in ArtistName:
    ArtistN.append(i.text)
        
ArtistN[0:99]

['Harry Styles',
 'Jack Harlow',
 'Glass Animals',
 'Latto',
 'Imagine Dragons X JID',
 'The Kid LAROI & Justin Bieber',
 'Morgan Wallen',
 'Doja Cat',
 'Kodak Black',
 'Justin Bieber',
 'Lil Nas X',
 'Ed Sheeran',
 'GAYLE',
 'Ed Sheeran',
 'Elton John & Dua Lipa',
 'Adele',
 'Doja Cat',
 'The Weeknd & Ariana Grande',
 'Post Malone & The Weeknd',
 'Lil Baby',
 'Dua Lipa',
 'Cody Johnson',
 'Lil Nas X & Jack Harlow',
 'Becky G X Karol G',
 'Camila Cabello Featuring Ed Sheeran',
 'Muni Long',
 'Carolina Gaitan, Mauro Castillo, Adassa, Rhenzy Feliz, Diane Guerrero, Stephanie Beatriz & Encanto Cast',
 'Lil Baby',
 'Cole Swindell / Lainey Wilson',
 'Luke Combs',
 'Morgan Wallen',
 'Walker Hayes',
 'Olivia Rodrigo',
 'Megan Thee Stallion & Dua Lipa',
 'Lauren Spencer-Smith',
 'SZA',
 'Dove Cameron',
 'JNR CHOI & Sam Tompkins',
 'Doja Cat & The Weeknd',
 'Em Beihold',
 'Walker Hayes',
 'Morgan Wallen',
 'Lil Durk Featuring Gunna',
 'Gunna & Future Featuring Young Thug',
 'Dierks Bentley, BRELAND & HARDY',
 'Tiesto & Ava Max',
 'Tate McRae',
 'Shawn Mendes',
 'Jordan Davis Featuring Luke Bryan',
 'Lizzo',
 'Kay Flock, Cardi B, Dougie B & Bory300',
 'Charlie Puth',
 'Miranda Lambert',
 'Fireboy DML & Ed Sheeran',
 'Lauren Spencer-Smith',
 'Jack Harlow',
 'Tyga X Doja Cat',
 'Sam Hunt',
 'Jason Aldean',
 'Lil Durk Featuring Morgan Wallen',
 'Eric Church',
 'Summer Walker & SZA',
 'Jessica Darrow',
 'Thomas Rhett',
 'ERNEST Featuring Morgan Wallen',
 'Carly Pearce & Ashley McBryde',
 'Nardo Wick, Lil Baby & Future',
 'Lil Durk',
 'HARDY',
 'Russ Featuring Ktlyn',
 'Anitta',
 'Nicki Minaj X Lil Baby',
 'Doja Cat',
 'Gucci Mane Featuring Lil Durk',
 'Parmalee',
 'Scotty McCreery',
 'Maren Morris',
 'Lil Tjay',
 "4*TOWN (From Disney And Pixar's Turning Red)",
 'Yahritza y Su Esencia',
 'The Walters',
 'Blake Shelton',
 '6ix9ine',
 'Fivio Foreign, Kanye West & Alicia Keys',
 '5 Seconds Of Summer',
 'Kane Brown',
 'Imagine Dragons',
 'Gunna',
 'Russell Dickerson & Jake Scott',
 'Ari Lennox',
 'Rauw Alejandro & Chencho Corleone',
 'Lucky Daye',
 'Stephanie Beatriz, Olga Merediz & Encanto Cast',
 'Queen Naija & Big Sean',
 'Sebastian Yatra',
 'Gunna Featuring Drake',
 'Yeat',
 'Coi Leray & Nicki Minaj',
 'Bailey Zimmerman']

In [33]:
# Scraping Last week rank
LastRank = driver.find_elements_by_xpath('/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[4]/span')
len(LastRank)

LastR=[]
for i in LastRank:
    LastR.append(i.text)
        
LastR[0:99]

['2',
 '1',
 '3',
 '4',
 '5',
 '6',
 '-',
 '8',
 '7',
 '9',
 '10',
 '12',
 '11',
 '15',
 '16',
 '17',
 '20',
 '23',
 '24',
 '14',
 '21',
 '22',
 '19',
 '30',
 '25',
 '26',
 '18',
 '13',
 '27',
 '31',
 '36',
 '32',
 '28',
 '33',
 '34',
 '29',
 '44',
 '42',
 '37',
 '45',
 '38',
 '48',
 '39',
 '35',
 '41',
 '49',
 '50',
 '52',
 '47',
 '-',
 '-',
 '43',
 '68',
 '53',
 '-',
 '40',
 '60',
 '55',
 '73',
 '58',
 '63',
 '59',
 '56',
 '51',
 '67',
 '65',
 '66',
 '61',
 '76',
 '54',
 '74',
 '70',
 '82',
 '77',
 '80',
 '89',
 '57',
 '64',
 '72',
 '69',
 '86',
 '84',
 '-',
 '71',
 '85',
 '-',
 '94',
 '87',
 '90',
 '92',
 '98',
 '96',
 '78',
 '-',
 '93',
 '91',
 '-',
 '95',
 '-']

In [38]:
# Scraping Last week rank
PeakRank= driver.find_elements_by_xpath('/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[5]/span')
len(PeakRank)

PRank=[]
for i in PeakRank:
    PRank.append(i.text)
        
PRank[0:99]

# Scraping Last weeks on chart
WeeksChart= driver.find_elements_by_xpath('/html/body/div[4]/main/div[2]/div[3]/div/div/div/div[2]/div/ul/li[4]/ul/li[6]/span')
len(WeeksChart)

WChart=[]
for i in WeeksChart:
    WChart.append(i.text)
        
WChart[0:99]

['3',
 '2',
 '66',
 '26',
 '22',
 '41',
 '1',
 '38',
 '24',
 '30',
 '31',
 '43',
 '22',
 '32',
 '33',
 '28',
 '45',
 '68',
 '24',
 '2',
 '76',
 '28',
 '39',
 '10',
 '7',
 '17',
 '17',
 '2',
 '14',
 '19',
 '23',
 '15',
 '49',
 '6',
 '16',
 '20',
 '10',
 '8',
 '42',
 '12',
 '44',
 '40',
 '6',
 '15',
 '17',
 '12',
 '11',
 '3',
 '37',
 '1',
 '1',
 '13',
 '12',
 '12',
 '1',
 '9',
 '8',
 '17',
 '5',
 '18',
 '22',
 '16',
 '17',
 '9',
 '13',
 '15',
 '15',
 '9',
 '8',
 '7',
 '4',
 '11',
 '20',
 '12',
 '3',
 '3',
 '15',
 '3',
 '5',
 '4',
 '14',
 '12',
 '1',
 '9',
 '3',
 '1',
 '6',
 '9',
 '5',
 '17',
 '3',
 '5',
 '16',
 '2',
 '16',
 '14',
 '4',
 '4',
 '1']

In [39]:
# making a Data Frame
df=pd.DataFrame ({})
df["Song Name"] = SongN
df["Artist Name"] = ArtistN
df["Last week rank"] = LastR
df["Peak rank"] = PRank
df["Weeks on board"] = WChart
df

,Song Name,Artist Name,Last week rank,Peak rank,Weeks on board
0,As It Was,Harry Styles,2,1,3
1,First Class,Jack Harlow,1,1,2
2,Heat Waves,Glass Animals,3,1,66
3,Big Energy,Latto,4,3,26
4,Enemy,Imagine Dragons X JID,5,5,22
...,...,...,...,...,...
95,P Power,Gunna Featuring Drake,91,24,14
96,Money So Big,Yeat,-,95,4
97,Blick Blick!,Coi Leray & Nicki Minaj,95,37,4
98,Fall In Love,Bailey Zimmerman,-,99,1
99,X Ultima Vez,Daddy Yankee & Bad Bunny,99,73,3

7. Scrape the details of Data science recruiters from naukri.com.
Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and
click on search. All this should be done through cod

In [41]:
# Activating the chrome browser

PATH = 'E:\DataTrained\chromedriver.exe' #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
try:
    url = "https://www.naukri.com/data-science-jobs?k=data%20science"
    driver.get(url)
    time.sleep(3)
    
except NoSuchElementException :
    print("No Login page")

In [60]:
# Scraping Commapany Name
Commapany_Name= driver.find_elements_by_xpath('/html/body/div[1]/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/div/a[1]')
len(Commapany_Name)

CName=[]
for i in Commapany_Name:
    CName.append(i.text)
        
CName

# Scraping Designation Name
Designation_Name= driver.find_elements_by_xpath('/html/body/div[1]/div[3]/div[2]/section[2]/div[2]/article/div/div/a')
len(Designation_Name)

DName=[]
for i in Designation_Name:
    DName.append(i.text)
        
DName

# Scraping Skills they hire
Skills_Name= driver.find_elements_by_xpath('/html/body/div[1]/div[3]/div[2]/section[2]/div[2]/article/ul')
len(Skills_Name)

SName=[]
for i in Skills_Name:
    SName.append(i.text)
        

SName

# Scraping Location they hire
Location_Name= driver.find_elements_by_xpath('/html/body/div[1]/div[3]/div[2]/section[2]/div[2]/article/div[1]/div/ul/li[3]/span')
len(Location_Name)

LName=[]
for i in Location_Name:
    LName.append(i.text)
        

LName

['Bangalore/Bengaluru',
 'Pune',
 'Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Chennai',
 'Chennai',
 '(WFH during Covid)',
 'Bhubaneswar, Hyderabad/Secunderabad',
 'Pune',
 'Pune',
 'Gurgaon/Gurugram',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Kolkata, Mumbai, Visakhapatnam, Hyderabad/Secunderabad, Pune, Chennai, Ahmedabad, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Gurgaon/Gurugram',
 'Mumbai',
 'Noida, Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Bangalore/Bengaluru']

In [63]:
# Making a Data Frame
df = pd .DataFrame ({})
df["Name"] =CName [0:19]
df["Designation"] = DName[0:19]
df["Location"] = LName[0:19]
df["Skills Required"] = SName[0:19]
df['Skills Required'] = df['Skills Required'].str.replace('\n',',')
df

,Name,Designation,Location,Skills Required
0,Epsilon,Data Science Analyst 2,Bangalore/Bengaluru,"Data analysis,Factor analysis,data science,SAS..."
1,MSD Pharmaceuticals,Opening For Manager / Sr. Manager Data Science,Pune,"Data Science,python,Django,MySQL,Data Analytic..."
2,HCL Technologies,HCL || Data Science,"Chennai, Bangalore/Bengaluru, Delhi / NCR","Azure Functions,ETL,analytical,Azure,Tableau,c..."
3,TIGER ANALYTICS INDIA CONSULTING PRIVATE LIMITED,Analyst: Data Science Insights,Chennai,"PowerBI,Tableau,python,Data Analysis,R,Pandas,..."
4,Tiger Analytics India LLP,Senior Analyst - Data Science,Chennai,"Python,R,verbal communication,written,IT Skill..."
5,HighRadius,Data Science/Data scientist| Product Company|5...,(WFH during Covid),"Machine Learning,IT Skills,Python,Data Science..."
6,Xoriant,Data Science Engineer,"Bhubaneswar, Hyderabad/Secunderabad","Data Science,S3,Spark,Analytics,AWS SageMaker,..."
7,INFOWEB,Data Analyst / Data Science,Pune,"Data Science,Data Quality,Predictive Analytics..."
8,Accenture,ACN - Applied Intelligence - CC - Data Science...,Pune,"Data Science,Applied intelligence,development,..."
9,Optum,Director - Data Engineering - Data Science Pyt...,Gurgaon/Gurugram,"Python,Data Science,NoSQL,EDA,Big Data,Kafka,J..."
10,Catalyst,Data Science/Analysis Expert - Machine Learning,Bangalore/Bengaluru,"IT Skills,Python,Data Science,Machine Learning..."
11,MarketScope,Mentor - Data Analyst/Data Science,Bangalore/Bengaluru,"IT Skills,Python,Big Data,Tableau,Julia,Data S..."
12,Google,"Product Analyst, Google Assistant Data Science","Kolkata, Mumbai, Visakhapatnam, Hyderabad/Secu...","IT Skills,Python,Computer science,Data analysi..."
13,Huquo Consulting Pvt. Ltd,Senior Analyst - Data Science - IIT/NIT/IIM/XL...,Bangalore/Bengaluru,"Data Science,R,Python,Tableau,verbal communica..."
14,Huquo Consulting Pvt. Ltd,Senior Analyst - Data Science - IIT/NIT/IIM/XL...,Gurgaon/Gurugram,"Python,Tableau,verbal communications,SAS,data ..."
15,TATA CAPITAL LTD,Associate - Data Science - Analytics,Gurgaon/Gurugram,"Customer acquisition,Logistic regression,Bfsi,..."
16,FLIP ROBO TECHNOLOGIES PRIVATE LIMITED,Hiring For Data Science Intern,Mumbai,"Data Science,Natural Language Processing,Machi..."
17,TM Inputs & Services Pvt. Ltd.,Analyst/Sr Analyst - Data Science,"Noida, Bangalore/Bengaluru","data science,machine learning models"
18,Accenture,ACN - Applied Intelligence - CC - Data Science...,"Pune, Bangalore/Bengaluru","Machine Learning,Data Science,Applied intellig..."

8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [68]:
PATH= 'E:\DataTrained\chromedriver.exe' #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
try:
    url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
    driver.get(url)
    time.sleep(3)
    
except NoSuchElementException :
    print("No Login page")

In [76]:
# Scraping Data from the Table 

BookName= driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[2]')
len(BookName)

AuthorName= driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]')
len(AuthorName)

VolumesSold= driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[4]')
len(VolumesSold)

Publisher= driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[5]')
len(Publisher)

Genre= driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td[3]')
len(Genre)

100

In [81]:

BookN=[]
for i in BookName:
    BookN.append(i.text)
        

BookN

AuthorN=[]
for i in AuthorName:
    AuthorN.append(i.text)
        

AuthorN

VolumeS=[]
for i in VolumesSold:
    VolumeS.append(i.text)
        

VolumeS

PublishN=[]
for i in Publisher:
    PublishN.append(i.text)
        

PublishN

Gen=[]
for i in Genre:
    Gen.append(i.text)
        

Gen

['Brown, Dan',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'James, E. L.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Rowling, J.K.',
 'Brown, Dan',
 'Rowling, J.K.',
 'James, E. L.',
 'Meyer, Stephenie',
 'Larsson, Stieg',
 'James, E. L.',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Brown, Dan',
 'Meyer, Stephenie',
 'Sebold, Alice',
 'Haddon, Mark',
 'Brown, Dan',
 'Bryson, Bill',
 'Larsson, Stieg',
 'Meyer, Stephenie',
 'Carle, Eric',
 'Donaldson, Julia',
 'Oliver, Jamie',
 'Hosseini, Khaled',
 'Nicholls, David',
 'Hosseini, Khaled',
 'Larsson, Stieg',
 'Niffenegger, Audrey',
 'McEwan, Ian',
 'Fielding, Helen',
 'Clarkson, Jeremy',
 'Bernieres, Louis de',
 'Kay, Peter',
 'Martel, Yann',
 'Stephenson, Pamela',
 'Pelzer, Dave',
 'Donaldson, Julia',
 'McCourt, Frank',
 'Faulks, Sebastian',
 'Pullman, Philip',
 'Mosse, Kate',
 'Rowling, J.K.',
 'Stockett, Kathryn',
 'Parsons, Tony',
 'Golden, Arthur',
 'McCall Smith, Alexander',
 'Hislop, Victoria',
 'Ahern, Cecelia',
 'McKeith, Gillian',
 'Zafon, Carlos Ruiz',
 'Rowling, J.K.',
 'Grisham, John',
 'Atkins, Robert C.',
 'Pullman, Philip',
 'Truss, Lynne',
 'Smith, Delia',
 'Harris, Joanne',
 'Boyne, John',
 'Picoult, Jodi',
 'Pullman, Philip',
 'Lee, Harper',
 'Gray, John',
 'French, Dawn',
 'Lewycka, Marina',
 'Harris, Thomas',
 'Tolkien, J. R. R.',
 'Moore, Michael',
 'Rubenfeld, Jed',
 'Osbourne, Sharon',
 'Coelho, Paulo',
 "O'Grady, Paul",
 'Bryson, Bill',
 'Oliver, Jamie',
 'Fielding, Helen',
 'Oliver, Jamie',
 'McKenna, Paul',
 'Bryson, Bill',
 'Grisham, John',
 'Levy, Andrea',
 'Lawson, Nigella',
 'Ali, Monica',
 'Edwards, Kim',
 'Donaldson, Julia',
 'Hornby, Nick',
 'Brand, Russell',
 'Dawkins, Richard',
 '0',
 'Smith, Zadie',
 'Morton, Kate',
 'Zusak, Markus',
 'Binchy, Maeve',
 'Harris, Robert',
 'Oliver, Jamie',
 'Collins, Suzanne',
 'Pelzer, Dave',
 'Oliver, Jamie']

In [82]:
df= pd.DataFrame({})
df["Book Name"] = BookN[0:99]
df["Author Name"] = AuthorN[0:99]
df["Volume Sold"] = VolumeS[0:99]
df["Publisher"] = PublishN[0:99]
df["Genre"] = Gen[0:99]

df

,Book Name,Author Name,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Brown, Dan"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,"Rowling, J.K."
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,"Rowling, J.K."
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,"Rowling, J.K."
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,"James, E. L."
...,...,...,...,...,...
94,Nights of Rain and Stars,"Binchy, Maeve","808,900",Orion,"Binchy, Maeve"
95,"Ghost,The","Harris, Robert","807,311",Random House,"Harris, Robert"
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,"Oliver, Jamie"
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,"Collins, Suzanne"
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,"Pelzer, Dave"

9. Scrape the details most watched tv series of all time from imdb.com.
Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [22]:
PATH= 'E:\DataTrained\chromedriver.exe' #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
try:
    url = " https://www.imdb.com/list/ls095964455/"
    driver.get(url)
    time.sleep(3)
    
except NoSuchElementException :
    print("No Login page")

In [23]:
# Scraping Data from the Table 

TitleName= driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/a')
len(TitleName)

Titlespan= driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/h3/span[2]')
len(Titlespan)


TitleGenre= driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[1]/span[5]')
len(TitleGenre)

TitleRuntime= driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[1]/span[3]')
len(TitleRuntime)


TitleRuntime= driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[1]/span[3]')
len(TitleRuntime)

TitleRating= driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div/div[1]/div[1]/span[2]')
len(TitleRating)

TitleVotes= driver.find_elements_by_xpath('/html/body/div[3]/div/div[2]/div[3]/div[1]/div/div[3]/div[3]/div/div[2]/p[4]/span[2]')
len(TitleVotes)

100

In [24]:
# creating a blank list
TitleN=[]
for i in TitleName:
    TitleN.append(i.text)
        

TitleN

# creating a blank list
TitleS=[]
for i in Titlespan:
    TitleS.append(i.text)
        

TitleS

# creating a blank list
TitleG=[]
for i in TitleGenre:
    TitleG.append(i.text)
        

TitleG

# creating a blank list
TitleRT=[]
for i in TitleRuntime:
    TitleRT.append(i.text)
        

TitleRT

# creating a blank list
TitleR=[]
for i in TitleRating:
    TitleR.append(i.text)
        

TitleR

# creating a blank list
TitleV=[]
for i in TitleVotes:
    TitleV.append(i.text)
        

TitleV

['1,981,258',
 '986,971',
 '944,184',
 '282,079',
 '241,987',
 '295,402',
 '138,990',
 '293,165',
 '336,546',
 '425,558',
 '454,774',
 '781,465',
 '514,847',
 '890,756',
 '507,548',
 '163,013',
 '310,506',
 '306,930',
 '1,722,609',
 '308,015',
 '428,158',
 '516,835',
 '146,572',
 '142,559',
 '394,353',
 '220,232',
 '404,054',
 '418,816',
 '949,101',
 '661,319',
 '395,209',
 '373,480',
 '131,445',
 '121,870',
 '169,549',
 '151,429',
 '225,928',
 '474,117',
 '208,902',
 '408,803',
 '473,052',
 '60,966',
 '177,518',
 '493,827',
 '353,861',
 '72,723',
 '258,663',
 '229,961',
 '216,009',
 '213,512',
 '225,667',
 '711,158',
 '126,387',
 '326,578',
 '237,692',
 '536,155',
 '483,961',
 '448,054',
 '60,292',
 '108,665',
 '334,833',
 '72,343',
 '102,610',
 '215,943',
 '90,218',
 '88,265',
 '47,677',
 '145,382',
 '359,319',
 '292,949',
 '105,330',
 '202,031',
 '545,886',
 '101,844',
 '125,851',
 '402,175',
 '105,307',
 '219,716',
 '83,238',
 '21,114',
 '132,278',
 '148,213',
 '126,996',
 '35,746',
 '268,231',
 '118,716',
 '127,406',
 '72,393',
 '103,307',
 '188,677',
 '27,222',
 '179,361',
 '190,611',
 '691,205',
 '66,426',
 '48,560',
 '59,191',
 '188,887',
 '40,032',
 '226,451']

In [27]:
# Making a data frame with the details 
#A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

df = pd.DataFrame({})


df["Name"]= TitleN

df["Year span"]= TitleS

df["Genre"]= TitleG

df["Run time"]= TitleRT

df["Ratings"]= TitleR

df["Votes"]= TitleV

df.head(5)

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,981,258"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"986,971"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"944,184"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"282,079"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"241,987"

10. Details of Datasets from UCI machine learning repositories.
Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [29]:
# Activating the chrome browser

PATH = 'E:\DataTrained\chromedriver.exe' #extracting path of the webdriver
driver = webdriver.Chrome(PATH)
try:
    url = " https://archive.ics.uci.edu/"
    driver.get(url)
    time.sleep(3)
    
except NoSuchElementException :
    print("No Login page")

In [30]:
DatasetName= driver.find_elements_by_xpath('/html/body/table[3]/tbody/tr/td[2]/table/tbody/tr/td[2]/table/tbody/tr/td[2]/span/a')
len(DatasetName)

DataType= driver.find_elements_by_xpath('/html/body/table[3]/tbody/tr/td[2]/table/tbody/tr/td[2]/table/tbody/tr/td[2]/span/a')
len(DatasetName)


/html/body/table/tbody/tr/td/table[2]/tbody/tr[1]/td[2]/p

/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[1]/td[2]/p

/html/body/table[2]/tbody/tr/td/table[2]/tbody/tr[1]/td[2]/p

12